body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(228, 224, 224);}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #fff; 
  color: #90a2b5;
  min-width: 36px;
  text-align: center;
  border: 1px solid #dad6d6;
  border-right:none;
}

.input-field {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #dad6d6;
  font-size: 15px;
}

.input-field:focus {
  border: 1px solid #90a2b5;
}

/* Set a style for the submit button */
.btn {
  background-color: #86bc42;
  color: white;
  padding: 6px 0; 
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 1;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

  .form-control{
    border-radius: 0; 
    transition: none;
    font-size: 16px;
  }
  textarea{
    border: 1px solid #dad6d6;
  }
  textarea:focus {
    border: 1px solid #90a2b5;
  }

  .custom-file-label{
    width: 95%;
    padding: 6px 10px;
    outline: none;
    margin-left:14px;
    font-size: 15px;
  }

  .input-lavel{
    background:#f7f7f7; 
    font-weight: 700;
  }

  
/* 
    @media (min-width:320px)  { 
      .col {
      -ms-flex-preferred-size: 0;
       flex-basis: none !important; 
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
     }
    @media (min-width:480px)  { .col {
    -ms-flex-preferred-size: 0;
    flex-basis: none !important; 
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
    }

    @media (min-width:600px)  {.col {
      -ms-flex-preferred-size: 0;
      flex-basis: none !important; 
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    }
    @media (min-width:801px)  { .col {
      -ms-flex-preferred-size: 0;
      flex-basis: none !important; 
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;}
    } */
    /* @media (min-width:1025px) { .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;} */

    /* @media (min-width:1281px) {
      .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    } */
    .form-signin
    {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading, .form-signin .checkbox
    {
        margin-bottom: 10px;
    }
    .form-signin .checkbox
    {
        font-weight: normal;
    }
    .form-signin .form-control
    {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus
    {
        z-index: 2;
    }
    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"]
    {
        /* margin-bottom: 10px; */
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .account-wall
    {
        margin-top: 60px;
        padding: 20px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .login-title
    {
        font-size: 18px;
        font-weight: 400;
        display: block;
        font-size: 30px; 
        color: rgb(143, 143, 143);
    }
    .profile-img
    {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .need-help
    {
        margin-top: 10px;
    }
    .new-account
    {
        display: block;
        /* margin-top: 10px; */
    }

    .bg {
      min-height: 100%;
      background-color: rgb(27, 27, 27);
      opacity: 0.8;
      width: 100%;
      height: auto;
      background-image: url("../images/login-bg.png");
      background-repeat: no-repeat;
      background-size:cover;
      position: fixed;
      top: 0;
      left: 0;
    }
    span.create-user-btn{
      background:#ddd; color:#fff; 
      padding:6px 0px;
      font-size: 14px;
    }

    .innerpage-bg {
      background-color: #000;
      opacity: 0.8;
      width: 100%;
      padding: 250px 0px;
      height: auto;
      background-image: url("../images/inner-banner2.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    .upstrip{
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 6px 10px #9c9797; margin-bottom: 40px; padding: 6px 30px;
    }

    .navbar {
      color: #fff;
      background: rgb(62 128 199) !important;
      padding: 5px 16px;
      border-radius: 0;
      border: none;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      /* position: fixed;
      z-index: 2;
      width: 100%; */
    }
    .navbar img.brandl {
      border-radius: 0% !important;
    }
    .navbar img {
      border-radius: 50%;
      /* width: 36px; */
      height: 36px;
      margin-right: 10px;
    }
    .navbar .navbar-brand {
      color: #efe5ff;
      padding-left: 0;
      padding-right: 50px;
      font-size: 24px;		
    }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #fff;
    }
    .navbar .navbar-brand i {
      font-size: 25px;
      margin-right: 5px;
    }
    .search-box {
      position: relative;
    }	
    .search-box input {
      padding-right: 35px;
      min-height: 38px;
      border: none;
      background: #faf7fd;
      border-radius: 3px !important;
    }
    .search-box input:focus {		
      background: #fff;
      box-shadow: none;
    }
    .search-box .input-group-addon {
      min-width: 35px;
      border: none;
      background: transparent;
      position: absolute;
      right: 0;
      z-index: 9;
      padding: 10px 7px;
      height: 100%;
    }
    .search-box i {
      color: #a0a5b1;
      font-size: 19px;
    }
    .navbar .nav-item i {
      font-size: 18px;
    }
    .navbar .nav-item span {
      position: relative;
      top: 4px;
    }
    .navbar .navbar-nav > a {
      color: #efe5ff;
      padding: 12px 15px;
      font-size: 14px;
      text-transform: uppercase;		
    }
    .navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
      color: #fff;
      /* text-shadow: 0 0 4px rgba(255,255,255,0.3); */
    }
    .navbar .navbar-nav > a > i {
      display: block;
      text-align: center;
    }
    .navbar .dropdown-item i {
      font-size: 16px;
      min-width: 22px;
    }
    .navbar .dropdown-item .material-icons {
      font-size: 21px;
      line-height: 16px;
      vertical-align: middle;
      margin-top: -2px;
    }
    .navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
      color: #fff;
      background: none !important;
    }
    .navbar .dropdown-menu {
      border-radius: 1px;
      border-color: #e5e5e5;
      box-shadow: 0 2px 8px rgba(0,0,0,.05);
      /* margin: 0.5rem -350px 0 !important; */
    }
    .navbar .dropdown-menu a {
      color: #777 !important;
      padding: 8px 20px;
      line-height: normal;
      font-size: 15px;
    }
    .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
      color: #333 !important;
      background: transparent !important;
    }
    .navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
      color: #fff;
      text-shadow: 0 0 4px rgba(255,255,255,0.2);
      background: transparent !important;
    }
    .navbar .navbar-nav .user-action {
      padding: 9px 15px;
      font-size: 15px;
    }
    .navbar .navbar-toggle {
      border-color: #fff;
    }
    .navbar .navbar-toggle .icon-bar {
      background: #fff;
    }
    .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
      background: transparent;
    }
    .navbar .navbar-nav .open .dropdown-menu {
      background: #faf7fd;
      border-radius: 1px;
      border-color: #faf7fd;
      box-shadow: 0 2px 8px rgba(0,0,0,.05);
    }
    .navbar .divider {
      background-color: #e9ecef !important;
    }
    @media (min-width: 1200px){
      .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
      }
    }
    @media (max-width: 1199px){
      .navbar .navbar-nav > a > i {
        display: inline-block;			
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 3px;
      }
      .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
      }
      .navbar .navbar-form {
        border: none;			
        display: block;
        margin: 10px 0;
        padding: 0;
      }
      .navbar .navbar-nav {
        margin: 8px 0;
      }
      .navbar .navbar-toggle {
        margin-right: 0;
      }
      .input-group {
        width: 100%;
      }
    }
    

 /*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


    
 /*search box css start here*/
.search-sec{
  padding: 2rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
@media (min-width: 992px){
  .search-sec{
      position: relative;
      top: -114px;
      background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px){
  .search-sec{
      background: #1A4668;
  }
}   


.topbox{
  background-color: #86bc42;
  width: 250px;
  padding-left: 20px;
  font-size: 12px;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 50px solid #86bc42;
  border-left: 50px solid transparent;
  float: right;
  position: absolute;
  margin-left: 1029px;
}

.bannercaption{
  position: absolute;
    right: 120px;
    margin-top: -422px;
    /* background-color: #fff;  */
    width: 500px;
    opacity: 0.6;
    padding: 10px;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #86bc42;
  background-clip: border-box;
  border: 1px solid rgb(255 255 255);
  border-radius: .25rem;
}

.card .carousel-item {
  height: 180px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    /* background-color: grey; */
    padding: 10px;
    
}
/* a:hover > .ico {
     background-color: #666; 
} */


.testimonial_section {
  display: block;
  overflow: hidden;
  background-color: #fff;
}
.testimonial_section:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content {
  background-color: #517fe8;
  padding-top: 46px;
  padding-right: 210px;
  padding-bottom: 11px;
  position: relative;
}
.testimonial_section .about_content .background_layer {
  background-color: #517fe8;
  width: auto;
  margin-left: -200px;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .about_content .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .about_content .layer_content .section_title {
  margin-bottom: 24px;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content .layer_content .section_title h5 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #818a8f;
  margin-top: -5px;
  margin-bottom: 6px;
}
.testimonial_section .about_content .layer_content .section_title h2 {
  /* font-family: "Titillium Web"; */
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 51px;
  margin-bottom: 0px;
  color: #fff;
}
.testimonial_section .about_content .layer_content .section_title h2 strong {
  font-weight: 600 !important;
  width: 100%;
  display: block;
}
.testimonial_section .about_content .layer_content .section_title .heading_line {
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span {
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
  content: "";
  right: auto;
  left: 69px;
  position: absolute;
  bottom: 28px;
  width: 17px;
  margin-left: 0;
  border-bottom-width: 3px;
  border-bottom-color: #cacaca;
  border-bottom-style: solid;
}
.testimonial_section .about_content .layer_content .section_title .heading_line:after {
  content: "";
  left: 1%;
  margin-left: 0;
  position: absolute;
  bottom: 28px;
  width: 59px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #86bc42;
}
.testimonial_section .about_content .layer_content .section_title p {
  color: #fff;
  margin: 0 0 15px;
}
.testimonial_section .about_content .layer_content a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.testimonial_section .about_content .layer_content a i {
  font-size: 18px;
  vertical-align: middle;
}
.testimonial_section .about_content .layer_content a:hover {
  color: #ff5e14;
}
.testimonial_section .testimonial_box {
  margin-top: 60px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container {
  background-color: #86bc42;
  margin-left: -170px !important;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .background_layer {
  background-color: #86bc42;
  width: auto;
  margin-right: -200px;
  right: 0;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
  display: block;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
  margin: 10px 0 10px 0;
  padding: 10px 0px 10px 50px;
  position: relative;
  text-align: center;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  margin-left: 150px;
  margin-top: 69px;
  padding: 45px 40px 45px 40px;
  z-index: 1;
  position: relative;
  background-color: #fff;
  transition: all 0.5s ease-in-out 0s;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
  margin-bottom: 15px;
  position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
  content: "";
  width: 30px;
  display: block;
  height: 2px;
  text-align: center;
  left: 46%;
  margin-top: 6px;
  background-color: #ff5e14;
  position: absolute;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
  padding-top: 0;
  margin-bottom: -5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
  font-size: 12px;
  color: #9f9f9f;
  margin: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #5d6576;
  font-style: italic;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
  border: none;
  position: absolute;
  top: 0;
  left: 55px;
  top: 80px;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
  border: 5px solid #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 35%;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
  position: absolute;
  top: 165px;
  right: 42px;
  border-radius: 0;
  background: #ff5e14;
  display: block;
  outline: 0;
  width: 34px;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
  background: #253b6f;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
  position: absolute;
  top: 165px;
  right: 5px;
  border-radius: 0;
  display: block;
  background: #ff5e14;
  outline: 0;
  width: 34px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
  background: #253b6f;
}

@media all and (max-width: 991px) {
  .testimonial_section .about_content {
    padding-right: 15px !important;
  }
  .testimonial_section .about_content .background_layer {
    width: 200% !important;
  }
  .testimonial_section .testimonial_box {
    margin-top: 0 !important;
  }
  .testimonial_section .testimonial_box .background_layer {
    width: 200% !important;
    margin-left: -200px;
  }
  .testimonial_section .testimonial_box .about_content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 28% !important;
  }
  .testimonial_section .testimonial_box .testimonial_container {
    margin-left: -15px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials {
    margin: 0px 0 20px 0;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
    margin-left: -36px !important;
  }
  .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
    display: none;
  }
}

@media (min-width: 768px){
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
}


.social-card-header{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 96px;
}
.social-card-header i {
  font-size: 32px;
  color:#FFF;
}
.bg-facebook {
  background-color:#3b5998;
}
.text-facebook {
  color:#3b5998;
}
.bg-google-plus{
  background-color:#dd4b39;
}
.text-google-plus {
  color:#dd4b39;
}
.bg-twitter {
  background-color:#1da1f2;
}
.text-twitter {
  color:#1da1f2;
}
.bg-pinterest {
  background-color:#bd081c;
}
.text-pinterest {
  color:#bd081c;
}
.share:hover {
      text-decoration: none;
  opacity: 0.8;
}

.course-area .section-title-wrapper {
  margin-bottom: 122px;
}
.section-title {
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 40px 0px;
  line-height: 6px;
}

.bg-dark{
  background-color: #fff !important;
}
.text-white{
  color: #908e8e !important;
}

.btninner {
  background-color: #86bc42;
  color: white;
  padding: 6px 10px; 
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  text-transform: uppercase;
}
.card-title{
  color: #464646;
}

.material-icons{
  margin-top: 3px;
}

.about-area {
  background: rgba(0, 0, 0, 0) url("../images/1.jpg") no-repeat scroll center top;
  color: #ffffff;
  /* margin-top: 140px; */
  padding-bottom: 54px;
  position: relative;
}
.about-area:before {
  height: 110px;
  left: 0;
  right: auto;
  top: -20px;
  width: 49.2%;
}
.about-area:after {
  border-width: 55px 30px;
  left: 49.2%;
  top: -20px;
  right: auto
}
.about-area h3 {
  font-size: 30px;
  margin-bottom: 60px;
  padding-top: 22px;
  z-index: 9;
  position: relative;
}
.about-area p {
  line-height: 26px;
  margin-bottom: 42px;
}
.about-container {margin-left: 70px;}
.about-area .button-default {padding: 9px 41px;}
.about-container > .button-default:hover {background: #ffffff none repeat scroll 0 0; color: #2d3e50;}


.header-top:before, .about-area:before, .newsletter-area:before, .mainmenu ul#nav > li > a:after, .mainmenu ul#nav.menu-white > li > a:after, .search-menu, .button-default:hover, .button-green, .about-area .button-default, .single-item .button-default, .button-large.button-default, .single-latest-item .button-default, .single-product-text .button-default, .single-event-item .button-default, .subscribe-form > button, .social-icons > a:hover, .footer-area, .newsletter-two, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .pagination-content.number .pagination li:first-child a, .pagination-content.number .pagination li:last-child a, .product-details-content .button-default, .product-details-content .social-links a:hover, .duration-title, h4.title:after, .tution-fee, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .pagination-content .pagination, .news-details-content .social-links a:hover, .contact-form-area .button-default, .skill-bar-item .progress-bar, #scrollUp, .bg-green, .bg-blue:hover, .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before, .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before, .slider-three .preview-2 .nivo-controlNav a, .footer-widget-area.footer-widget-four {
  background: #86bc42;}
  .about-area:before {
    height: 110px;
    left: 0;
    right: auto;
    top: -20px;
    width: 49.2%;}


    .header-top:before, .about-area:before, .newsletter-area:before {
      content: "";
      height: 48px;
      position: absolute;
      right: 0;
      top: 0px;
      width: 43%;
      padding: 40px;
  }
  *, *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  :after, :before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
    margin-top: 5px;
}


.modal-dialog {
  width: 750px;
  margin: 60px 0px 30px 490px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color:none;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: red;
  opacity: inherit;
  background: none;
}


.form-sec{
  padding:15px;
  background: #f8f9fa;
  padding: 15px;box-shadow: 0 0 4px #ccc;
}
h4{
  color: green;
}
