body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(228, 224, 224);}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #fff; 
  color: #90a2b5;
  min-width: 36px;
  text-align: center;
  border: 1px solid #dad6d6;
  border-right:none;
}

.input-field {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #dad6d6;
  font-size: 15px;
}

.input-field:focus {
  border: 1px solid #90a2b5;
}

/* Set a style for the submit button */
.btn {
  background-color: #90a2b5;
  color: white;
  padding: 6px 0; 
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 1;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

  .form-control{
    border-radius: 0; 
    transition: none;
    font-size: 16px;
  }
  textarea{
    border: 1px solid #dad6d6;
  }
  textarea:focus {
    border: 1px solid #90a2b5;
  }

  .custom-file-label{
    width: 95%;
    padding: 6px 10px;
    outline: none;
    margin-left:14px;
    font-size: 15px;
  }

  .input-lavel{
    background:#f7f7f7; 
    font-weight: 700;
  }

  
/* 
    @media (min-width:320px)  { 
      .col {
      -ms-flex-preferred-size: 0;
       flex-basis: none !important; 
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
     }
    @media (min-width:480px)  { .col {
    -ms-flex-preferred-size: 0;
    flex-basis: none !important; 
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
    }

    @media (min-width:600px)  {.col {
      -ms-flex-preferred-size: 0;
      flex-basis: none !important; 
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    }
    @media (min-width:801px)  { .col {
      -ms-flex-preferred-size: 0;
      flex-basis: none !important; 
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;}
    } */
    /* @media (min-width:1025px) { .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;} */

    /* @media (min-width:1281px) {
      .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    } */
    .form-signin
    {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading, .form-signin .checkbox
    {
        margin-bottom: 10px;
    }
    .form-signin .checkbox
    {
        font-weight: normal;
    }
    .form-signin .form-control
    {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus
    {
        z-index: 2;
    }
    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"]
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .account-wall
    {
        margin-top: 20px;
        padding: 20px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .login-title
    {
        font-size: 18px;
        font-weight: 400;
        display: block;
        font-size: 30px; 
        color: rgb(143, 143, 143);
    }
    .profile-img
    {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .need-help
    {
        margin-top: 10px;
    }
    .new-account
    {
        display: block;
        /* margin-top: 10px; */
    }

    .bg {
      min-height: 100%;
      background-color: rgb(27, 27, 27);
      opacity: 0.8;
      width: 100%;
      height: auto;
      background-image: url("../images/login-bg.png");
      background-repeat: no-repeat;
      background-size:cover;
      position: fixed;
      top: 0;
      left: 0;
    }
    a.create-user-btn{
      background:#106d4b; color:white; padding:6px 0px;
    }

    .innerpage-bg {
      background-color: #000;
      opacity: 0.8;
      width: 100%;
      padding: 250px 0px;
      height: auto;
      background-image: url("../images/inner-banner2.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    .upstrip{
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 6px 10px #9c9797; margin-bottom: 40px; padding: 0px 24px;
    }